@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap");
:root {
    --primary-color: #01579b;
    --secondary-color: #5fb3cf;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Poppins";
}

.nav-bar.white {
    background: white;
    box-shadow: 0px 1px 0px rgba(20, 61, 122, 0.15);
}

.nav-bar {
    position: fixed;
    z-index: 999;
    padding: 1em;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 0px rgba(20, 61, 122, 0.15);
    transition: 0.8s;
}

.nav-bar .logo {
    padding-left: 1em;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 21px;
}

.nav-bar .logo span {
    color: var(--primary-color);
}

.nav-bar nav {
    display: none;
}

.nav-bar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
}

.nav-bar .Mobile-menu {
    cursor: pointer;
    padding-right: 3em;
    padding-top: 0.5em;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 30%;
    right: 0;
    top: 4em;
    background: #01589ba4;
    height: 90vh;
    padding: 0.5em;
    border-radius: 10px;
}

nav ul.first-part {
    margin-top: 6em;
}

nav li a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: -2em;
    display: block;
    padding-top: 1em;
    font-size: 1em;
    text-align: left;
    letter-spacing: 0.2em;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

nav li a:hover {
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 1em;
}

//SLIDE SHOW
.slideShowHero {
    .carousel-inner {
        height: 300px;
        width: 100%;
        filter: contrast(100%);
        .carousel-caption {
            width: 30%;
            height: 120px;
            padding-left: 1em;
            top: 50%;
            left: 9%;
            animation: textup 12s linear;
            transform: translateY(100px);
            h2 {
                background-color: var(--primary-color);
                width: 35%;
                height: 2px;
            }
            p {
                color: black;
                text-align: left;
                font-weight: bold;
                left: 0;
                font-family: "Jura", sans-serif;
                span {
                    color: var(--primary-color);
                }
            }
        }
    }
}

@keyframes textup {
    10% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

.carousel-inner .carousel-item>img {
    animation: zoom 5s;
    -webkit-animation: zoom 5s;
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.4, 1.4);
    }
}

//SECTION INFO //////////////////////////////
.info {
    padding-top: 3em;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    margin: 0.5em;
    width: 97%;
    .element {
        display: block;
        width: 100%;
        transition: all 0.5s ease;
        border-radius: 10px;
        &:hover {
            transform: scale(1.3);
        }
        padding-top: 2em;
        padding-bottom: 2em;
        img {
            width: 100%;
            height: 50px;
        }
        h1 {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            padding: 1em;
        }
        h2 {
            height: 2px;
            background-color: var(--primary-color);
            width: 50%;
            margin-left: 2.3em;
        }
        p {
            margin: 1em;
            text-align: center;
            font-weight: 300;
            font-size: 15px;
            color: black;
            letter-spacing: 0.1em;
            padding: 1em;
        }
        &:hover {
            background-color: #13629e46;
            h1 {
                color: #2786cf;
            }
        }
    }
}

.who {
    margin-top: 3em;
    margin-bottom: 3em;
    h1 {
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 23px;
        span {
            color: var(--primary-color);
            font-size: 50px;
        }
    }
    .whodisp {
        display: flex;
        flex-wrap: wrap;
        img {
            border-radius: 10px;
            margin: 1px auto;
            height: 320px;
            transition: all 0.5s ease;
            &:hover {
                filter: brightness(80%);
                -webkit-filter: brightness(80%);
                transform: scale(1.05);
            }
        }
        p {
            border-radius: 10px;
            padding: 2em;
            background-color: var(--primary-color);
            color: white;
            font-size: 17px;
            letter-spacing: 0.1em;
            text-align: center;
            transition: all 0.5s ease;
            &:hover {
                background-color: #0a4169;
                transform: scale(1.05);
            }
        }
    }
}

//NOS SERVICES
.Nos-services {
    height: auto;
    margin-top: 1em;
    display: block;
    h1 {
        text-align: center;
        font-size: 21px;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: 0.4em;
        //color: white;
    }
    .les-services {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../media/slides/back3.jpg);
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-wrap: wrap;
        padding: 2em;
        .card {
            border-radius: 10px;
            margin: 1em auto;
            background: white;
            padding: 1em 1em 1em 1em;
            width: 300px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: all 0.5s ease;
            &:hover {
                transform: scale(1.1);
            }
            img {
                width: 100%;
            }
            .caption {
                padding: 1em;
                background-color: white;
                text-align: center;
                font-size: 15px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0.1em;
            }
        }
        .cardLast {
            color: white;
            padding: 0.5em;
            .caption {
                background-color: rgba(0, 0, 0, 0.76);
            }
        }
    }
}

//SECTION CONSEILS RENDEV
.Conseils-Rendev {
    margin: 2em;
    display: block;
    h1 {
        padding-bottom: 2em;
        font-weight: 500;
        font-size: 18px;
        line-height: 70px;
        text-align: center;
        letter-spacing: 0.3em;
    }
    .renseignement {
        display: block;
        h2 {
            font-weight: 400;
            font-size: 30px;
            line-height: 60px;
            letter-spacing: 0.1em;
        }
        .Appel {
            border-radius: 10px;
            text-align: center;
            padding: 2em;
            border: solid 3px rgba(158, 158, 158, 0.664);
            img {
                padding-top: 1em;
                height: 60px;
            }
            p {
                padding-top: 0.7em;
                font-weight: 400;
                font-size: 30px;
                line-height: 60px;
                letter-spacing: 0.1em;
                color: var(--primary-color);
            }
            &:hover {
                border: 4px solid var(--primary-color);
            }
        }
        .container-slide {
            border-radius: 10px;
            background-color: var(--primary-color);
            color: white;
            vertical-align: center;
            .carousel-inner {
                height: 300px;
                padding: 4em;
            }
            &:hover {
                font-weight: 500;
                font-size: 16px;
            }
        }
        .Rendez-vous {
            border-radius: 10px;
            text-align: center;
            padding: 2em;
            border: solid 3px rgba(158, 158, 158, 0.664);
            &:hover {
                border: 4px solid var(--primary-color);
            }
            p {
                padding: 1em;
                color: rgb(78, 77, 77);
            }
            .Rendez-vous-btn {
                text-decoration: none;
                padding: 0.6em;
                background-color: white;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 50px;
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 0.3em;
                color: #0094ff;
                border: 2px solid #ffffff;
                transition: all 0.5s ease;
                &:hover {
                    cursor: pointer;
                    color: white;
                    background-color: var(--primary-color);
                }
            }
        }
    }
}

.contact {
    h1 {
        margin-top: 1em;
        font-weight: 600;
        font-size: 0 30px;
        line-height: 60px;
        letter-spacing: 0.1em;
        text-align: center;
        color: black;
        background-color: rgba(128, 128, 128, 0.164);
    }
    .container-contact {
        padding: 2em;
        background: linear-gradient( rgba(131, 119, 119, 0.349) rgba(131, 119, 119, 0.979) rgba(226, 226, 226, 0.979), rgba(255, 255, 255, 0.815)), url(../media/Conta.jpg);
        background-size: cover;
        background-attachment: fixed;
        .contact-fields {
            margin: auto;
            width: 50%;
            .Contact-form {
                label {
                    font-weight: bold;
                    letter-spacing: 0.2em;
                    color: black;
                }
                input,
                textarea {
                    outline: none;
                    margin: 0.5em;
                    padding: 0.2em;
                    border-radius: 0.3em;
                    border-radius: 10px;
                    box-sizing: border-box;
                    width: 100%;
                    padding-left: 1em;
                    border: none;
                    border-bottom: 0.5px solid gray;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                button {
                    padding: 0.5em;
                    background-color: white;
                    box-sizing: border-box;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 50px;
                    font-weight: bold;
                    font-size: 15px;
                    letter-spacing: 0.3em;
                    color: #0094ff;
                    border: 2px solid #ffffff;
                    transition: 0.5s ease;
                    margin-left: 50%;
                    width: 50%;
                    &:hover {
                        cursor: pointer;
                        color: white;
                        background-color: var(--primary-color);
                    }
                }
            }
        }
    }
}

footer {
    margin: 1em;
    background-color: black;
    border-radius: 10px;
    display: block;
    .foot1 {
        .logo {
            padding-top: 2em;
            padding-left: 4em;
            font-weight: bold;
            color: white;
            font-size: 15px;
            span {
                color: var(--primary-color);
            }
        }
        .coo {
            padding-top: 1em;
            padding-left: 4em;
            font-weight: bold;
            color: white;
            font-size: 15px;
            letter-spacing: 0.3em;
        }
        p {
            padding-top: 0.5em;
            padding-left: 8em;
            font-weight: 200;
            font-size: 15px;
            color: white;
            span {
                font-weight: bold;
            }
        }
        .courriel::before {
            content: url("../media/VectorMsg.svg");
        }
        .Ntel::before {
            content: url("../media/VectorNtel.svg");
            padding-right: 3px;
        }
        .Fax::before {
            content: url("../media/Fax.svg");
            padding-right: 3px;
        }
    }
    .social-media {
        display: grid;
        grid-template-columns: 50px 50px 50px;
        padding: 1em 1em 3em 7.5em;
        img {
            height: 25px;
            transition: all 0.5s ease;
            &:hover {
                transform: scale(1.6);
            }
        }
    }
    .foot2 {
        iframe {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

///////////////////////////
@media only screen and (min-width: 768px) {
    .Mobile-menu,
    .mobile-menu-exit {
        display: none;
    }
    .nav-bar .logo {
        padding-left: 0.3em;
    }
    .nav-bar .container {
        display: grid;
        grid-template-columns: 150px auto;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
        padding-right: 2em;
    }
    ul li {
        padding-left: 2em;
    }
    .nav-bar nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: none;
        position: unset;
        height: 2em;
        width: 100%;
        padding: 0;
        margin-top: -0.4em;
    }
    .nav-bar nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .nav-bar nav a {
        color: black;
        font-size: 15.5px;
        padding: -0.1em;
    }
    .nav-bar nav a:hover {
        color: black;
        font-weight: bold;
        padding-top: 1.2em;
    }
    .nav-bar nav ul.first-part {
        margin: 0;
    }
    .nav-bar nav li.current a {
        font-weight: bold;
    }
    .nav-bar nav li.Connexion a {
        color: var(--primary-color);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        font-weight: bold;
        border-radius: 5em;
        margin-top: 0.2em;
        padding: 0.5em 0.8em;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    .nav-bar nav li.Connexion a:hover {
        background: var(--primary-color);
        color: white;
    }
    .first-part li a,
    .second-part li a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    //SLIDE SHOW
    .slideShowHero {
        .carousel-inner {
            height: 800px;
        }
    }
    .info {
        display: grid;
        grid-auto-flow: column;
        margin-left: 1.5%;
    }
    .who {
        .whodisp {
            display: flex;
            flex-wrap: nowrap;
            img {
                width: 40%;
                max-height: 289px;
            }
            p {
                width: 60%;
            }
        }
    }
    .Conseils-Rendev {
        .renseignement {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            grid-gap: 5%;
        }
    }
    footer {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
}

.Sent {
    text-align: center;
    margin: 10px 0px;
    padding: 1em;
    color: var(--primary-color);
    background-color: #bde5f8b6;
    border-radius: 10px;
}