@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "Poppins";
  background-image: url("../../media/cream_pixels_@2X.png");
}

.disp {
  display: none;
}

:root {
  --primary-color: #01579b;
  --secondary-color: #5fb3cf;
}

.side-bar {
  background-color: white;
  z-index: 999;
  top: 0;
  left: 0;
  width: 60px;
  position: fixed;
  height: 100vh;
  border-radius: 0 20px 10px 0;
}
.side-bar .logo-container {
  padding: 0.5em;
}
.side-bar .logo-container .logo .fas {
  padding: 0.5em;
  color: var(--primary-color);
  font-size: 23px;
}
.side-bar .logo-container .logo .fas:hover {
  cursor: pointer;
  font-size: 28px;
  padding: 0.3em;
}
.side-bar .logo-container .logo a {
  position: relative;
  top: -0.15em;
  display: none;
  padding-left: 5em;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
}
.side-bar .logo-container .logo a span {
  color: var(--primary-color);
}
.side-bar .menu {
  border-right: solid 2px var(--primary-color);
  border-radius: 0 0 10px 0;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color);
  padding-top: 3em;
  height: 90.5vh;
}
.side-bar .menu ul {
  list-style-type: none;
}
.side-bar .menu ul li {
  padding-left: 1.2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}
.side-bar .menu ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: 500;
  display: none;
}
.side-bar .menu ul li i {
  margin-right: 1em;
  color: white;
  font-size: 17px;
}
.side-bar .menu ul li:hover {
  cursor: pointer;
  background-color: white;
  padding: -3em;
  border-radius: 50px;
  border-color: var(--primary-color);
  width: 60px;
}
.side-bar .menu ul li:hover a {
  transition: 0.6s ease;
  color: var(--primary-color);
  font-weight: 700;
}
.side-bar .menu ul li:hover .fas {
  transition: 0.6s ease;
  color: var(--primary-color);
  font-size: 19px;
}

.main {
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 60px;
  background-color: white;
  right: 0;
  top: 0;
  left: 0;
  padding: 1.9em;
  position: fixed;
  z-index: 998;
}
.main .PageType {
  position: absolute;
  top: 1.5em;
  left: 2.5em;
}
.main .PageType p {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 14px;
}
.main .PageType p span {
  color: var(--primary-color);
}
.main a i {
  position: absolute;
  color: var(--primary-color);
  font-size: 20px;
  top: 1.2em;
}
.main a i:hover {
  font-size: 28px;
  cursor: pointer;
  top: 0.7em;
  right: 0.8em;
}
.main a .fa-home {
  left: 0.5em;
}
.main a .fa-home:hover {
  font-size: 24px;
  top: 0.8em;
  left: 0.2em;
}
.main .Déconnexion {
  position: absolute;
  right: 6em;
  top: 25%;
  text-decoration: none;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: var(--primary-color);
  border: 2px solid #ffffff;
  transition: 0.5s ease;
  padding: 0.5em 1em;
}
.main .Déconnexion:hover {
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
}
.main .wrap-img {
  position: absolute;
  top: 0.7em;
  right: 1em;
  height: 40px;
  border-radius: 50%;
  width: 40px;
}
.main .wrap-img:hover {
  border: solid 1px var(--primary-color);
  border: solid 2px var(--primary-color);
}

.Part-two {
  position: absolute;
  top: 4em;
  left: 4.5em;
  right: 1em;
}
.Part-two .wrap-list-for-patients {
  width: 100%;
}
.Part-two .wrap-list-for-patients .title {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 30px 0px 0 0;
}
.Part-two .wrap-list-for-patients .patients-list {
  overflow: scroll;
  background-color: white;
  width: 100%;
  height: 84vh;
  float: right;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border: solid 2px var(--primary-color);
}
.Part-two .wrap-list-for-patients .patients-list .list-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.Part-two .wrap-list-for-patients .patients-list ul {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: 99% 1%;
}
.Part-two .wrap-list-for-patients .patients-list ul .link1 {
  text-decoration: none;
}
.Part-two .wrap-list-for-patients .patients-list ul .link1 .list-elt {
  color: black;
  font-size: 15px;
  margin-left: 1em;
  cursor: pointer;
  padding: 5px;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.Part-two .wrap-list-for-patients .patients-list ul .link1 .list-elt:hover {
  border-bottom: solid 2px rgba(0, 0, 0, 0.25);
  color: var(--primary-color);
}
.Part-two .wrap-list-for-patients .patients-list ul .link1 .list-elt:active {
  border-bottom: solid 2px var(--primary-color);
}
.Part-two .wrap-list-for-patients .patients-list ul .link2 {
  margin-top: 0.5em;
  position: relative;
  right: 2em;
}
.Part-two .wrap-list-for-patients .patients-list ul .link2 .fa-user-clock {
  color: rgba(9, 255, 0, 0.479);
}
.Part-two .wrap-list-for-patients .patients-list ul .link2 .fa-user-clock:hover {
  color: rgb(0, 255, 64);
  font-size: 20px;
  cursor: pointer;
}
.Part-two .wrap-list-for-patients .patients-list ul .link2 .fa-user-clock:active {
  color: rgb(0, 255, 64);
  font-size: 20px;
  cursor: pointer;
}
.Part-two .AffichagePatient {
  height: 84vh;
}
.Part-two .AffichagePatient p {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
}
.Part-two .AffichagePatient iframe {
  height: 100%;
  border: 2px solid var(--primary-color);
}
.Part-two .ShowT {
  height: 88vh;
}
.Part-two .ShowT .title {
  color: white;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 1.5em;
}
.Part-two .ShowT ul {
  border: solid 2px var(--primary-color);
  height: 76vh;
  overflow: scroll;
  padding: 1em;
  text-align: center;
}
.Part-two .ShowT ul li {
  list-style: none;
  border-bottom: solid 0.1px rgba(128, 128, 128, 0.74);
  padding: 0.5em;
}

.Part-three {
  position: absolute;
  top: 4em;
  left: 4.5em;
  right: 1em;
}
.Part-three .Wrap-Ordo-Crea .title {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 30px 0px 0 0;
}
.Part-three .Wrap-Ordo-Crea .patients-list {
  overflow: scroll;
  background-color: white;
  width: 100%;
  height: 84vh;
  float: right;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border: solid 2px var(--primary-color);
}
.Part-three .Wrap-Ordo-Crea .patients-list .list-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.Part-three .Wrap-Ordo-Crea .patients-list ul {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: 99% 1%;
  grid-gap: 1%;
}
.Part-three .Wrap-Ordo-Crea .patients-list ul .link1 {
  text-decoration: none;
}
.Part-three .Wrap-Ordo-Crea .patients-list ul .link1 .list-elt {
  color: black;
  font-size: 15px;
  margin-left: 1em;
  cursor: pointer;
  padding: 5px;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.Part-three .Wrap-Ordo-Crea .patients-list ul .link1 .list-elt:hover {
  border-bottom: solid 2px var(--primary-color);
  color: var(--primary-color);
}
.Part-three .Wrap-Ordo-Crea .patients-list ul .link1 .list-elt:active {
  border-bottom: solid 2px var(--primary-color);
}
.Part-three .Wrap-Ordo-Crea .patients-list ul .link2 {
  margin-top: 0.5em;
  position: relative;
  right: 2.5em;
}
.Part-three .Wrap-Ordo-Crea .patients-list ul .link2 .fa-pen-square {
  color: blue;
  font-size: 20px;
}
.Part-three .Wrap-Ordo-Crea .patients-list ul .link2 .fa-pen-square:hover {
  color: rgb(7, 204, 7);
  font-size: 23px;
}
.Part-three .Wrap-Ordo-Crea .patients-list ul .link2 .fa-pen-square:active {
  color: rgb(7, 204, 7);
  font-size: 23px;
}
.Part-three .CreationOrdonnance {
  height: 84vh;
  width: 100%;
}
.Part-three .CreationOrdonnance .title {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 0 30px 0 0;
}
.Part-three .CreationOrdonnance .sous-title {
  background-color: white;
  color: var(--primary-color);
  font-weight: 500;
  text-align: center;
  border: solid 2px var(--primary-color);
  border-bottom: none;
  padding: 1em;
}
.Part-three .CreationOrdonnance .CreationOrdonnanceForm {
  height: 74.5vh;
  padding: 2em 2em;
  display: block;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border: solid 2px var(--primary-color);
  border-top: none;
}
.Part-three .CreationOrdonnance .CreationOrdonnanceForm label {
  font-weight: 500;
  font-size: 15px;
  color: var(--primary-color);
}
.Part-three .CreationOrdonnance .CreationOrdonnanceForm select,
.Part-three .CreationOrdonnance .CreationOrdonnanceForm textarea {
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: white;
  outline: none;
  border: none;
  border-bottom: solid 0.5px var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  color: rgba(0, 0, 0, 0.808);
}
.Part-three .CreationOrdonnance .CreationOrdonnanceForm select:hover,
.Part-three .CreationOrdonnance .CreationOrdonnanceForm textarea:hover {
  border-bottom: solid 2px var(--primary-color);
}
.Part-three .CreationOrdonnance .CreationOrdonnanceForm select:active,
.Part-three .CreationOrdonnance .CreationOrdonnanceForm textarea:active {
  border-bottom: solid 2px var(--primary-color);
}
.Part-three .CreationOrdonnance .CreationOrdonnanceForm textarea {
  padding: 2em;
  border-top: solid 0.5px var(--primary-color);
  border-radius: 30px;
}
.Part-three .CreationOrdonnance .CreationOrdonnanceForm textarea:hover {
  border-top: solid 2px var(--primary-color);
}
.Part-three .CreationOrdonnance .CreationOrdonnanceForm textarea:active {
  border-top: solid 2px var(--primary-color);
}
.Part-three .CreationOrdonnance .CreationOrdonnanceForm button {
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px gray;
  border-radius: 15px;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.2em;
  color: var(--primary-color);
  border: 2px solid #ffffff;
  transition: 0.5s ease;
  padding: 0.5em 1em;
  outline: none;
}
.Part-three .CreationOrdonnance .CreationOrdonnanceForm button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
}
.Part-three .HistoriqueOrd {
  border: solid 2px var(--primary-color);
  background-color: white;
}
.Part-three .HistoriqueOrd .titre {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1em;
}
.Part-three .HistoriqueOrd .list {
  height: 80vh;
  overflow: scroll;
}
.Part-three .HistoriqueOrd .list ul {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: 99% 1%;
}
.Part-three .HistoriqueOrd .list ul .l1 {
  text-decoration: none;
}
.Part-three .HistoriqueOrd .list ul .l1 li {
  color: black;
  font-size: 15px;
  margin-left: 1em;
  cursor: pointer;
  padding: 5px;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.Part-three .HistoriqueOrd .list ul .l1 li:hover {
  border-bottom: solid 2px rgba(0, 0, 0, 0.25);
  color: var(--primary-color);
}
.Part-three .HistoriqueOrd .list ul .l1 li:active {
  border-bottom: solid 2px var(--primary-color);
}
.Part-three .HistoriqueOrd .list ul .l2 {
  margin-top: 0.5em;
  position: relative;
  right: 1.5em;
}
.Part-three .HistoriqueOrd .list ul .l2 .fa-trash-alt {
  color: rgba(255, 0, 0, 0.479);
}
.Part-three .HistoriqueOrd .list ul .l2 .fa-trash-alt:hover {
  color: red;
  cursor: pointer;
}
.Part-three .HistoriqueOrd .list ul .l2 .fa-trash-alt:active {
  color: red;
  cursor: pointer;
}
.Part-three .Ordonnance-fiche {
  border: solid 2px rgb(70, 69, 69);
  position: absolute;
  top: 103%;
  right: 0;
  left: 0;
}
.Part-three .Ordonnance-fiche .title {
  background-color: rgb(70, 69, 69);
  color: white;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1em;
}
.Part-three .Ordonnance-fiche .Deb {
  font-size: 18px;
  padding: 1em;
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
}
.Part-three .Ordonnance-fiche .Deb span {
  margin-top: 2em;
  float: left;
  text-decoration: none;
}
.Part-three .Ordonnance-fiche .second {
  margin-top: 2em;
  padding: 1em;
  text-align: right;
  font-weight: 450;
}
.Part-three .Ordonnance-fiche .middle {
  text-align: center;
  font-weight: 700;
}
.Part-three .Ordonnance-fiche .info {
  padding: 2em;
  text-align: left;
}
.Part-three .Ordonnance-fiche .info span {
  font-size: 16px;
  font-weight: 500;
}
.Part-three .Ordonnance-fiche .description {
  border: solid 1px gray;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 15px;
  font-weight: 700;
}
.Part-three .Ordonnance-fiche .signature {
  padding: 1.5em;
  float: right;
}
.Part-three .Ordonnance-fiche .signature span {
  font-family: "Great Vibes", cursive;
  font-size: 25px;
}

.Part-four {
  position: absolute;
  top: 4em;
  left: 4.5em;
  right: 1em;
}
.Part-four .Wrap-PR .title {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 30px 0px 0 0;
}
.Part-four .Wrap-PR .patients-list {
  overflow: scroll;
  background-color: white;
  width: 100%;
  height: 84vh;
  float: right;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border: solid 2px var(--primary-color);
}
.Part-four .Wrap-PR .patients-list .list-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.Part-four .Wrap-PR .patients-list ul {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
}
.Part-four .Wrap-PR .patients-list ul .link1 {
  text-decoration: none;
}
.Part-four .Wrap-PR .patients-list ul .link1 .list-elt {
  color: black;
  font-size: 15px;
  margin-left: 1em;
  cursor: pointer;
  padding: 5px;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.Part-four .Wrap-PR .patients-list ul .link1 .list-elt:hover {
  border-bottom: solid 2px var(--primary-color);
  color: var(--primary-color);
}
.Part-four .Wrap-PR .patients-list ul .link1 .list-elt:active {
  border-bottom: solid 2px var(--primary-color);
}
.Part-four .Wrap-PR .patients-list ul .link2 {
  margin-top: 0.5em;
  position: relative;
  right: 0.5em;
}
.Part-four .Wrap-PR .patients-list ul .link2 .fa-pen-square {
  color: blue;
  font-size: 20px;
}
.Part-four .Wrap-PR .patients-list ul .link2 .fa-pen-square:hover {
  color: rgb(7, 204, 7);
  font-size: 23px;
}
.Part-four .Wrap-PR .patients-list ul .link2 .fa-pen-square:active {
  color: rgb(7, 204, 7);
  font-size: 23px;
}
.Part-four .Regime-Container .titre-r {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
}
.Part-four .Regime-Container .Reg {
  background-color: white;
  height: 84vh;
  overflow: scroll;
  display: grid;
  grid-template-columns: 50% 50%;
  border: solid 0.5px var(--primary-color);
}
.Part-four .Regime-Container .Reg .Auto,
.Part-four .Regime-Container .Reg .Pas-Auto {
  border: solid 0.5px var(--primary-color);
}
.Part-four .Regime-Container .Reg .Auto p,
.Part-four .Regime-Container .Reg .Pas-Auto p {
  color: var(--primary-color);
  font-weight: 500;
  text-align: center;
  border-radius: 30px 0px 0 0;
  padding: 0.3em;
}
.Part-four .Regime-Container .Reg .Auto .No,
.Part-four .Regime-Container .Reg .Pas-Auto .No {
  color: rgba(255, 0, 0, 0.644);
}
.Part-four .Regime-Container .Reg .Auto .Yes,
.Part-four .Regime-Container .Reg .Pas-Auto .Yes {
  color: rgba(0, 128, 0, 0.568);
}
.Part-four .Regime-Container .Reg .Auto .lPAuto ul,
.Part-four .Regime-Container .Reg .Auto .lAuto ul,
.Part-four .Regime-Container .Reg .Pas-Auto .lPAuto ul,
.Part-four .Regime-Container .Reg .Pas-Auto .lAuto ul {
  list-style: none;
}
.Part-four .Regime-Container .Reg .Auto .lPAuto ul li,
.Part-four .Regime-Container .Reg .Auto .lAuto ul li,
.Part-four .Regime-Container .Reg .Pas-Auto .lPAuto ul li,
.Part-four .Regime-Container .Reg .Pas-Auto .lAuto ul li {
  border-bottom: solid 1px gray;
  padding: 0.5em;
  margin: 1em;
  font-size: 15px;
  font-weight: 500;
}
.Part-four .Regime-Container .Reg .Auto .lPAuto ul li a,
.Part-four .Regime-Container .Reg .Auto .lAuto ul li a,
.Part-four .Regime-Container .Reg .Pas-Auto .lPAuto ul li a,
.Part-four .Regime-Container .Reg .Pas-Auto .lAuto ul li a {
  float: right;
  text-decoration: none;
}
.Part-four .Regime-Container .Reg .Auto .lPAuto ul li a i,
.Part-four .Regime-Container .Reg .Auto .lAuto ul li a i,
.Part-four .Regime-Container .Reg .Pas-Auto .lPAuto ul li a i,
.Part-four .Regime-Container .Reg .Pas-Auto .lAuto ul li a i {
  color: rgba(255, 0, 0, 0.541);
}
.Part-four .Regime-Container .Reg .Auto .lPAuto ul li a i:hover,
.Part-four .Regime-Container .Reg .Auto .lAuto ul li a i:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .lPAuto ul li a i:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .lAuto ul li a i:hover {
  color: red;
  font-size: 15px;
  cursor: pointer;
}
.Part-four .Regime-Container .Reg .Auto .lPAuto ul li:hover,
.Part-four .Regime-Container .Reg .Auto .lAuto ul li:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .lPAuto ul li:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .lAuto ul li:hover {
  border-bottom: solid 2px var(--primary-color);
  color: var(--primary-color);
  font-weight: 15px;
  cursor: initial;
}
.Part-four .Regime-Container .Reg .Auto .Auto-Form,
.Part-four .Regime-Container .Reg .Auto .PAuto-Form,
.Part-four .Regime-Container .Reg .Pas-Auto .Auto-Form,
.Part-four .Regime-Container .Reg .Pas-Auto .PAuto-Form {
  overflow: hidden;
  display: grid;
  grid-template-columns: 55% auto;
  margin-left: 10%;
}
.Part-four .Regime-Container .Reg .Auto .Auto-Form input,
.Part-four .Regime-Container .Reg .Auto .PAuto-Form input,
.Part-four .Regime-Container .Reg .Pas-Auto .Auto-Form input,
.Part-four .Regime-Container .Reg .Pas-Auto .PAuto-Form input {
  text-align: center;
  outline: none;
  border: none;
  border-bottom: solid 1px rgba(1, 88, 155, 0.568627451);
  padding-left: 0.5em;
}
.Part-four .Regime-Container .Reg .Auto .Auto-Form input:hover,
.Part-four .Regime-Container .Reg .Auto .PAuto-Form input:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .Auto-Form input:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .PAuto-Form input:hover {
  border-bottom: solid 2px var(--primary-color);
}
.Part-four .Regime-Container .Reg .Auto .Auto-Form button,
.Part-four .Regime-Container .Reg .Auto .PAuto-Form button,
.Part-four .Regime-Container .Reg .Pas-Auto .Auto-Form button,
.Part-four .Regime-Container .Reg .Pas-Auto .PAuto-Form button {
  background-color: white;
  border: none;
}
.Part-four .Regime-Container .Reg .Auto .Auto-Form button .fas:hover,
.Part-four .Regime-Container .Reg .Auto .PAuto-Form button .fas:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .Auto-Form button .fas:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .PAuto-Form button .fas:hover {
  font-size: 15px;
  cursor: pointer;
}
.Part-four .Regime-Container .Reg .Auto .Auto-Form button .minus,
.Part-four .Regime-Container .Reg .Auto .PAuto-Form button .minus,
.Part-four .Regime-Container .Reg .Pas-Auto .Auto-Form button .minus,
.Part-four .Regime-Container .Reg .Pas-Auto .PAuto-Form button .minus {
  color: rgba(255, 0, 0, 0.541);
}
.Part-four .Regime-Container .Reg .Auto .Auto-Form button .minus:hover,
.Part-four .Regime-Container .Reg .Auto .PAuto-Form button .minus:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .Auto-Form button .minus:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .PAuto-Form button .minus:hover {
  color: red;
}
.Part-four .Regime-Container .Reg .Auto .Auto-Form button .plus,
.Part-four .Regime-Container .Reg .Auto .PAuto-Form button .plus,
.Part-four .Regime-Container .Reg .Pas-Auto .Auto-Form button .plus,
.Part-four .Regime-Container .Reg .Pas-Auto .PAuto-Form button .plus {
  color: rgba(0, 128, 0, 0.568);
}
.Part-four .Regime-Container .Reg .Auto .Auto-Form button .plus:hover,
.Part-four .Regime-Container .Reg .Auto .PAuto-Form button .plus:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .Auto-Form button .plus:hover,
.Part-four .Regime-Container .Reg .Pas-Auto .PAuto-Form button .plus:hover {
  color: green;
}

.Part-Six {
  position: absolute;
  top: 4em;
  left: 4.5em;
  right: 1em;
}
.Part-Six .Historique-fiches-paie {
  background-color: white;
  height: 85vh;
  margin-top: 1em;
  overflow: scroll;
  margin-bottom: 2em;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 30px 0 0 0px;
  border: solid 2px var(--primary-color);
}
.Part-Six .Historique-fiches-paie p {
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.Part-Six .Historique-fiches-paie ul {
  list-style: none;
  display: grid;
  width: 100%;
}
.Part-Six .Historique-fiches-paie ul .l1 {
  text-decoration: none;
}
.Part-Six .Historique-fiches-paie ul .l1 .list1 {
  color: black;
  font-size: 15px;
  margin-left: 1em;
  cursor: pointer;
  padding: 5px;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.Part-Six .Historique-fiches-paie ul .l1 .list1:hover {
  border-bottom: solid 2px rgba(0, 0, 0, 0.25);
  color: var(--primary-color);
}
.Part-Six .Historique-fiches-paie ul .l1 .list1:active {
  border-bottom: solid 2px var(--primary-color);
}
.Part-Six .show-FP {
  padding: 1em;
}
.Part-Six .show-FP .title-FiP {
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: 500;
  background-color: var(--primary-color);
}
.Part-Six .show-FP .FP {
  border: solid 2px var(--primary-color);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 1em;
}
.Part-Six .show-FP .FP .first {
  background-color: gray;
  color: black;
  padding-left: 1em;
}
.Part-Six .show-FP .FP .first span {
  float: right;
  padding-right: 1em;
}
.Part-Six .show-FP .FP .contain {
  display: grid;
  grid-template-columns: 50% 50%;
}
.Part-Six .show-FP .FP .contain .Employeur,
.Part-Six .show-FP .FP .contain .employe-1,
.Part-Six .show-FP .FP .contain .employe-2 {
  border: solid 1px gray;
  color: black;
  font-weight: 500;
  font-size: 14px;
  padding: 2em;
  margin: 0.5em;
}
.Part-Six .show-FP .FP .contain .Employeur span,
.Part-Six .show-FP .FP .contain .employe-1 span,
.Part-Six .show-FP .FP .contain .employe-2 span {
  font-weight: 700;
}
.Part-Six .show-FP .FP .contain .signature p {
  font-weight: 500;
  text-align: center;
  font-size: 13px;
}
.Part-Six .show-FP .FP .TableRub {
  margin-top: 2em;
  margin-bottom: 2em;
  border: solid 1px rgba(0, 0, 0, 0.808);
  border-collapse: collapse;
}
.Part-Six .show-FP .FP .TableRub tr {
  border: solid 1px rgba(0, 0, 0, 0.808);
}
.Part-Six .show-FP .FP .TableRub tr td,
.Part-Six .show-FP .FP .TableRub tr th {
  text-align: center;
  font-size: 13px;
  overflow: hidden;
  padding: 1em;
  border: solid 1px rgba(0, 0, 0, 0.808);
  font-weight: 500;
}
.Part-Six .show-FP .FP .NET {
  text-align: right;
  padding: 0.5em;
  background-color: gray;
}

.Part-five {
  position: absolute;
  top: 4em;
  left: 4.5em;
  right: 1em;
}
.Part-five .Wrap-Pat-List .title {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 30px 0px 0 0;
}
.Part-five .Wrap-Pat-List .patients-list {
  overflow: scroll;
  background-color: white;
  width: 100%;
  height: 84vh;
  float: right;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border: solid 2px var(--primary-color);
}
.Part-five .Wrap-Pat-List .patients-list .list-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.Part-five .Wrap-Pat-List .patients-list ul {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: 95% 1% 1%;
}
.Part-five .Wrap-Pat-List .patients-list ul .link1 {
  text-decoration: none;
}
.Part-five .Wrap-Pat-List .patients-list ul .link1 .list-elt {
  color: black;
  font-size: 15px;
  margin-left: 1em;
  cursor: pointer;
  padding: 5px;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.Part-five .Wrap-Pat-List .patients-list ul .link1 .list-elt:hover {
  border-bottom: solid 2px var(--primary-color);
  color: var(--primary-color);
}
.Part-five .Wrap-Pat-List .patients-list ul .link1 .list-elt:active {
  border-bottom: solid 2px var(--primary-color);
}
.Part-five .Wrap-Pat-List .patients-list ul .link2 {
  margin-top: 0.5em;
  position: relative;
  right: 0.5em;
}
.Part-five .Wrap-Pat-List .patients-list ul .link2 .fa-plus-square {
  color: yellowgreen;
  font-size: 20px;
}
.Part-five .Wrap-Pat-List .patients-list ul .link2 .fa-plus-square:hover {
  color: rgb(7, 204, 7);
  font-size: 23px;
  cursor: pointer;
}
.Part-five .Wrap-Pat-List .patients-list ul .link2 .fa-plus-square:active {
  color: rgb(7, 204, 7);
  font-size: 23px;
  cursor: pointer;
}
.Part-five .Wrap-Pat-List .patients-list ul .link3 {
  margin-top: 0.45em;
  position: relative;
  right: 4em;
}
.Part-five .Wrap-Pat-List .patients-list ul .link3 i {
  color: rgba(0, 0, 255, 0.671);
  font-size: 20px;
}
.Part-five .Wrap-Pat-List .patients-list ul .link3 i:hover {
  color: rgb(32, 46, 122);
  font-size: 23px;
  cursor: pointer;
}
.Part-five .Wrap-Pat-List .patients-list ul .link3 i:active {
  color: rgb(32, 46, 122);
  font-size: 23px;
  cursor: pointer;
}
.Part-five .CreationOpInfo {
  width: 100%;
}
.Part-five .CreationOpInfo .title {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 0 30px 0 0;
}
.Part-five .CreationOpInfo .sous-title {
  background-color: white;
  color: rgb(153, 152, 152);
  font-weight: 500;
  text-align: center;
  border: solid 2px var(--primary-color);
  border-bottom: none;
  padding: 1em;
}
.Part-five .CreationOpInfo .CreationOpForm {
  height: 70.5vh;
  padding: 0.5em 0.5em;
  padding-top: 3em;
  display: block;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border: solid 2px var(--primary-color);
  border-top: none;
}
.Part-five .CreationOpInfo .CreationOpForm .inp {
  display: grid;
  grid-template-columns: 1% 100%;
}
.Part-five .CreationOpInfo .CreationOpForm .inp .fas {
  position: relative;
  right: -0.5em;
  top: 1.4em;
  color: var(--primary-color);
}
.Part-five .CreationOpInfo .CreationOpForm .inp:hover .fas {
  font-size: 17px;
}
.Part-five .CreationOpInfo .CreationOpForm .wrap {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 27% 21% 27% 21%;
  grid-gap: 1%;
}
.Part-five .CreationOpInfo .CreationOpForm label {
  position: relative;
  top: 2em;
  font-weight: 600;
  font-size: 13px;
  color: var(--primary-color);
}
.Part-five .CreationOpInfo .CreationOpForm input {
  padding: 0.7em 0.7em 0.7em 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: white;
  outline: none;
  border: none;
  border-bottom: solid 0.5px var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  color: rgba(0, 0, 0, 0.808);
}
.Part-five .CreationOpInfo .CreationOpForm input:hover {
  border-bottom: solid 2px var(--primary-color);
}
.Part-five .CreationOpInfo .CreationOpForm input:active {
  border-bottom: solid 2px var(--primary-color);
}
.Part-five .CreationOpInfo .CreationOpForm button {
  margin-bottom: 1.5em;
  margin-top: 2em;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px gray;
  border-radius: 15px;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.2em;
  color: var(--primary-color);
  border: 2px solid #ffffff;
  transition: 0.5s ease;
  padding: 0.5em 1em;
  outline: none;
}
.Part-five .CreationOpInfo .CreationOpForm button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
}
.Part-five .Chart-Container {
  overflow: hidden;
  border: solid 2px var(--primary-color);
}
.Part-five .Chart-Container .title {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
}
.Part-five .Historique-op .title {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 0 30px 0 0;
}
.Part-five .Historique-op ul {
  height: 84vh;
  overflow: scroll;
  list-style: none;
  border: solid 2px var(--primary-color);
}
.Part-five .Historique-op ul li {
  display: grid;
  grid-template-columns: 99% 1%;
  border-bottom: solid 0.5px rgba(128, 128, 128, 0.418);
  border-top: solid 0.5px rgba(128, 128, 128, 0.61);
}
.Part-five .Historique-op ul li .wrap .IdOp {
  text-align: center;
  color: var(--primary-color);
}
.Part-five .Historique-op ul li .wrap .IdOp span {
  font-weight: 600;
}
.Part-five .Historique-op ul li .wrap .Med span,
.Part-five .Historique-op ul li .wrap .Poids span,
.Part-five .Historique-op ul li .wrap .Tension span {
  font-weight: 500;
}
.Part-five .Historique-op ul li .wrap .Date {
  font-size: 15px;
  color: rgba(58, 58, 58, 0.555);
  text-align: right;
}
.Part-five .Historique-op ul li .wrap p {
  padding: 0.5em;
}
.Part-five .Historique-op ul li a {
  margin-top: 0.5em;
  position: relative;
  right: 2em;
}
.Part-five .Historique-op ul li a i {
  color: var(--primary-color);
  font-size: 20px;
}
.Part-five .Historique-op ul li a i:hover {
  color: blue;
  font-size: 23px;
  cursor: pointer;
}
.Part-five .Historique-op ul li a i:active {
  color: blue;
  font-size: 23px;
  cursor: pointer;
}
.Part-five .Historique-op ul li:hover {
  border-bottom: solid 2px var(--primary-color);
  border-top: solid 2px var(--primary-color);
}

.success {
  background-color: rgba(75, 202, 130, 0.662745098);
  text-align: center;
  margin: 0em 2em 2em 2em;
  padding: 1em;
  color: black;
  font-weight: 400;
}

.Message {
  text-align: center;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  color: #00529B;
  background-color: #BDE5F8;
}

.one,
.two,
.three,
.four,
.five,
.six {
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
}

.wrap-all {
  position: absolute;
  top: 5em;
  left: 5em;
  bottom: 1em;
  right: 1em;
  padding: 4%;
  display: grid;
  grid-template-columns: 30% 30% 28%;
  grid-template-rows: 30% 30% 28%;
  grid-gap: 6%;
  overflow: hidden;
}

.one {
  grid-column: 1/span 2;
}

.two {
  grid-area: 1/3/3/3;
}

.six {
  grid-area: 3/2/3/4;
}

.one {
  border: solid 2px var(--primary-color);
  text-decoration: none;
  color: black;
}
.one .text {
  color: white;
  font-weight: 400;
  font-size: 13px;
  position: absolute;
  left: 10em;
  border: solid 2px var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 0px 30px 30px 30px;
}
.one .Picture {
  position: relative;
  top: 0.5em;
  left: 0.5em;
  justify-content: center;
  height: 70px;
  border-radius: 50%;
  width: 70px;
  cursor: pointer;
}
.one .Picture:hover {
  border: solid 1px var(--primary-color);
}
.one .info {
  text-align: left;
  position: relative;
  top: -3em;
  left: 7em;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.one .info span {
  color: var(--primary-color);
}
.one .description {
  position: relative;
  top: -3em;
  padding: 0.5em;
  font-size: 11px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.781);
}
.one:hover {
  cursor: pointer;
  border: solid 3px var(--primary-color);
}
.one:hover .text {
  cursor: pointer;
  font-weight: 600;
  border-radius: 30px 0px 30px 30px;
}
.one:hover span {
  cursor: pointer;
}

.two {
  text-decoration: none;
  color: black;
  text-align: center;
}
.two .text {
  padding: 0.5em;
  color: white;
  font-weight: 400;
  font-size: 11px;
  position: relative;
  left: 0;
  bottom: 0;
  border: solid 2px var(--primary-color);
  background-color: var(--primary-color);
}
.two i {
  position: relative;
  top: 7%;
  font-size: 40px;
  color: var(--primary-color);
}
.two .info {
  position: relative;
  top: 10%;
  padding: 0.5em;
  font-size: 11px;
  text-align: center;
  font-weight: 600;
  color: gray;
  cursor: pointer;
}
.two:hover {
  cursor: pointer;
  border: solid 2px var(--primary-color);
}
.two:hover .text {
  cursor: pointer;
  font-weight: 700;
  border-radius: 0;
}

.three {
  text-decoration: none;
  color: black;
  text-align: center;
}
.three .text {
  color: white;
  font-weight: 400;
  font-size: 12px;
  position: relative;
  border: solid 2px var(--primary-color);
  background-color: var(--primary-color);
}
.three .description {
  display: none;
}
.three i {
  color: var(--primary-color);
  font-size: 40px;
  position: relative;
  top: 25%;
}
.three:hover {
  border: solid 3px var(--primary-color);
  cursor: pointer;
}
.three:hover .text {
  cursor: pointer;
  font-weight: 600;
}
.three:hover i {
  cursor: pointer;
}

.four {
  border: solid 2px var(--primary-color);
  text-decoration: none;
  color: black;
  text-align: center;
}
.four .text {
  padding: 0.5em;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 12px;
  position: relative;
}
.four .description {
  display: none;
}
.four i {
  color: var(--primary-color);
  font-size: 40px;
  position: relative;
  top: 20%;
}
.four:hover {
  border: solid 3px var(--primary-color);
  cursor: pointer;
}
.four:hover .text {
  cursor: pointer;
  font-weight: 600;
}
.four:hover i {
  cursor: pointer;
}

.five {
  text-decoration: none;
  color: black;
  text-align: center;
}
.five .text {
  padding: 0.5em;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 12px;
  position: relative;
}
.five .info {
  position: relative;
  top: -2%;
  padding: 0.5em;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  color: gray;
}
.five i {
  display: none;
}
.five:hover {
  border: solid 3px var(--primary-color);
  cursor: pointer;
}
.five:hover .text {
  cursor: pointer;
  font-weight: 600;
}
.five:hover i {
  cursor: pointer;
}

.six {
  border: solid 2px var(--primary-color);
  text-decoration: none;
  color: black;
}
.six .text {
  color: white;
  font-weight: 500;
  font-size: 13px;
  position: absolute;
  right: 13%;
  border: solid 2px var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 0px 30px 30px 30px;
}
.six .info {
  position: relative;
  top: 20%;
  padding: 0.5em;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.781);
}
.six img {
  display: none;
}
.six:hover {
  border: solid 3px var(--primary-color);
  cursor: pointer;
}
.six:hover .text {
  cursor: pointer;
  font-weight: 600;
  border-radius: 30px 0px 30px 30px;
}
.six:hover img {
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .three .description {
    display: inherit;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color);
    position: relative;
    top: 5%;
    padding: 0.5em;
  }
  .three i {
    color: var(--primary-color);
    font-size: 30px;
    position: relative;
    top: 5%;
  }
  .four .description {
    display: inherit;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    color: gray;
    position: relative;
    top: -5%;
    padding: 0.7em;
  }
  .four i {
    color: var(--primary-color);
    font-size: 30px;
    position: relative;
    top: -7%;
  }
  .six img {
    display: inherit;
    position: relative;
    top: 25%;
    height: 30px;
    margin: 0 auto;
  }
  .five i {
    display: initial;
    color: var(--primary-color);
    font-size: 30px;
    position: relative;
    top: 0;
  }
  .two i {
    top: 13%;
  }
  .two .info {
    position: relative;
    top: 15%;
    padding: 1em;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: gray;
    cursor: pointer;
  }
}
.fas:hover,
.far:hover {
  cursor: pointer;
}

.search-Bar input {
  background-color: white;
  outline: none;
  border: none;
  border-bottom: solid 0.5px var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  width: 50%;
  margin: 0 1em 0 1em;
  text-align: center;
  padding: 0.7em;
}
.search-Bar input:hover {
  border-bottom: solid 2px var(--primary-color);
}
.search-Bar input:active {
  border-bottom: solid 2px var(--primary-color);
}
.search-Bar button {
  margin-top: 1em;
  margin-left: 1em;
  outline: none;
  border: none;
  background-color: none;
}
.search-Bar button i {
  color: var(--primary-color);
  font-size: 18px;
}

.error {
  background-color: rgba(255, 0, 51, 0.2823529412);
  text-align: center;
  margin: 0em 2em 2em 2em;
  padding: 1em;
  color: black;
  font-weight: 400;
  border-radius: 6px;
  font-size: 15px;
}/*# sourceMappingURL=styleMedecin.css.map */